$palettes: (
  blue: (
    base: #264653
  ),
  teal: (
    base: #2a9d8f
  ),
  yellow: (
    base: #e9c46a
  ),
  orange: (
    base: #f4a261
  ),
  red: (
    base: #e76f51
  )
);

$z-index: (

);

$fallback: Helvetica, Arial, sans-serif;
$regular: '', $fallback;
$reg: $regular;

// BREAKPOINTS
// $hi-res: min-resolution 1.5dppx;
// $mobile-wide: 480px;
// $tablet-narrow: 720px;
// $tablet-wide: 1024px;
// $laptop: 1200px;
// $desktop: 1600px;

$one: 850px;
$two: 1024px;