@import '../../node_modules/breakpoint-sass/stylesheets/breakpoint';

@import 'vars';

@import 'utils/functions/map-getters';

@import 'utils/mixins/hide-text';

@import 'global/base';

// @import 'components/atoms/';

@import '02_modules/faq';
@import '02_modules/language-picker';
@import '02_modules/nav';
@import '02_modules/timeline';

@import '03_sections/about';
@import '03_sections/itinerary';

// @import 'components/templates/';

// @import 'components/views/';

.header {
  text-align: center;
}

.header * {
  margin-top: 0;
}

.countdown {
  display: block;
  font-size: 3em;
  margin-top: 0;
}

@import 'global/trumps';
@import 'global/shame';