extends templates/master

block body
  nav#nav.nav(aria-label='Site navigation' hidden)
    button#navigation-btn.nav__button(aria-expanded='false', aria-controls='navigation-list' aria-label='Menu')
      span.nav__burger
      span.nav__text Menu
    ul#navigation-list.nav__list
      li.nav__item
        a.nav__link.bkgd-blue(href='#itinerary') Itinerary
      li.nav__item
        a.nav__link.bkgd-teal(href='#about') About Us
      li.nav__item
        a.nav__link.bkgd-yellow(href='#timeline') Timeline
      li.nav__item
        a.nav__link.bkgd-orange(href='#photos') Photos
      li.nav__item
        a.nav__link.bkgd-red(href='#faq') Q&amp;A
  a.language-picker(aria-label='Читай на русском', href='/ru')
    span.language-picker__ru 🇷🇺
  main.index-page
    header#welcome.header
      h1.full-width Sarah &amp; Michail
      p Milwaukee, WI, USA
      p: time(datetime='2018-09-08') Saturday, September 8, 2018
      span#countdown.countdown.full-width(role='timer', aria-live='polite', aria-atomic='true')
      a(href='/rsvp.html').rsvp-button: span RSVP
    section#itinerary
      h2.full-width.bkgd-blue The plan!
      section.itinerary
        header.itinerary__title
          h3 Ceremony
          p
            time(datetime='2018-09-08 15:30') 3:30 PM
        address
          p Virmond Park
          p 10606 N Lake Shore Dr
          p Mequon, WI 53092
        details.itinerary__map
          summary
            | See map
          iframe.full-width(src='https://www.google.com/maps/embed/v1/place?key=AIzaSyAD3ow3jbGkVnlpEUB8wM-Imp6A0SVaEqg&q=place_id:ChIJ91jlwxjhBIgRgHC28q9I5ls')
        p
          | Virmond Park is actually a quite special place to us. We spent a lot of time in the park as teenagers, as it was our go-to destinations on weekends or after school. We’re excited to get married in a location so close to our hearts.
      section.itinerary
        header.itinerary__title
          h3 Family Photos
          p
            time(datetime='2018-09-08 16:00') 4:00 PM
        p Virmond Park
        p
          | Our families are going to take some time to take a few photos in the park before head on downtown.
      section.itinerary
        header.itinerary__title
          h3 Cocktail Hour
          p
            time(datetime='2018-09-08 16:30') 4:30 PM
        address
          p The Box
          p 311 E. Wisconsin Ave
          p Milwaukee, WI 53202
        details.itinerary__map
          summary
            | See map
          iframe.full-width(src='https://www.google.com/maps/embed/v1/directions?key=AIzaSyAD3ow3jbGkVnlpEUB8wM-Imp6A0SVaEqg&origin=Virmond+Park,Mequon+WI&destination=The+Box,Milwaukee+WI')
        p
          | Enjoy a drink while the couple and their families wraps up some photos! Feel free to also hang out in the park a little longer if you like, or play a few board games at The Box!
      section.itinerary
        header.itinerary__title
          h3 Reception
          p
            time(datetime='2018-09-08 18:30') 6:30 PM
        p The Box
        p Dinner, dancing, and dessert!
    section#about
      h2.full-width.bkgd-teal About Us
      p.about__p
        span.about__person.about__person--sarah Sarah
        |  Michail and I have actually known each other for a long time! We met in 6th grade when Michail transferred into the Mequon-Thiensville school district. By 7th grade, I’m pretty sure he had a massive crush on me, so it was unsurprising when in 8th grade, he asked me on a date to “eat Oreos and see the new Evan Almighty movie” with him.
      p.about__p
        span.about__person.about__person--michail Michail
        |  Unfortunately for me, Sarah shot me down! Really, though, how could anyone refuse an offer like that? Realizing I came on a bit strong, I eased up for a couple years. Sarah and I didn’t become close again until the summer before our sophomore year of high school.
      p.about__p
        span.about__person.about__person--sarah Sarah
        |  Michail certainly grew up quite a bit between 8th grade and sophomore year, and I couldn’t help but notice he was becoming quite the young man - funny, clever, and full of boundless energy. However, some things about a person just don’t change. One day after school, I wasn’t particularly surprised when Michail told me he’d lost his house keys, and his parents wouldn’t be home several hours.
      p.about__p
        span.about__person.about__person--michail Michail
        |  And of course, I couldn’t stay all alone at school.
      p.about__p
        span.about__person.about__person--sarah Sarah
        |  Ok, whatever. Either way, Michail rode the bus home with me (with my Mom’s approval of course — thanks, Mom!).
      p.about__p
        span.about__person.about__person--michail Michail
        | We were already super adorable at that point, so we watched the Lion King and ate a frozen pizza while holding hands on Sarah’s couch. Today, we consider that to be our first date, and we celebrate our anniversary on that day — September 18, 2008.
      p.about__p
        span.about__person.about__person--sarah Sarah
        |  Yep! Throw in a few more years of high school, 2 ½ years of long distance during college, a couple years together in Ohio, a few years in San Francisco, and that basically brings us up to today! We just moved to Seattle in May, and we’ve got some longer term travel intentions as well.
      p.about__p
        span.about__person.about__person--michail Michail
        |  Our next plan is start travelling internationally, working remotely and hopping from country-to-country for several months at a time. Sarah and I are always looking for the next adventure, experience, or experiment, especially when it comes to food and travel. Marriage will certainly be an adventure in itself!
    section#timeline
      h2.full-width.bkgd-yellow Timeline
      ol.timeline
        li.timeline__event.timeline__event--wave
          h3 Michail &amp; Sarah meet
          time Fall 2004
          p Michail and Sarah are 6th graders at Lake Shore Middle School.
        li.timeline__event.timeline__event--email
          h3 Michail emails Sarah, inviting her on a date
          time June 21, 2007
          p Michail gets shot down HARD.
        li.timeline__event.timeline__event--date
          h3 Michail &amp; Sarah's first date
          time September 18th, 2008
          p Michail and Sarah watch Lion King, eat pizza, and hold hands.
        li.timeline__event.timeline__event--heart
          h3 Michail asks Sarah to prom
          time Spring 2010
          p Michail paints a heart-shaped puzzle to invite Sarah to prom.
        li.timeline__event.timeline__event--college
          h3 Michail &amp; Sarah part ways for college
          time August 2011
          p Michail attends RIT in Rochester, NY
          p Sarah attends OSU in Columbus, OH
        li.timeline__event.timeline__event--house
          h3 Michail &amp; Sarah move in together
          time December 2013
          p After graduating from RIT, Michail moved to Columbus, joining Sarah while she finished school herself.
        li.timeline__event.timeline__event--vacation
          h3 Michail &amp; Sarah take their first, adult vacation together
          time July 2014
          p Michail and Sarah drive up from Columbus, OH to Sandusky, OH to visit Cedar Point Theme Park and Put-In Bay Island.
        li.timeline__event.timeline__event--sf
          h3 Michail &amp; Sarah move to San Francisco, CA
          time June 2015
          p Practically the second Sarah finishes school, Michail is eager to leave Ohio. So they drive across the country! Literally, less than a week after Sarah’s graduation.
        li.timeline__event.timeline__event--ring
          h3 Michail proposes to Sarah
          time February 10, 2018
          p Michail paints a puzzle to propose to Sarah.
          p They make an AMAZING 5 course dinner, and Michail reveals his puzzle during the tea course (at 1:30 in the morning!).
        li.timeline__event.timeline__event--seattle
          h3 Michail &amp; Sarah move to Seattle, WA
          time May 2018
          p Ready for something new, Sarah and Michail head off to the next place.
        li.timeline__event.timeline__event--wedding
          h3 Michail &amp; Sarah get married!
          time September 08 2018
          p 10 days from their 10-year anniversary! Their anniversary swaps from 09-18-08 to 09-08-18.

    section#photos
      h2.full-width.bkgd-orange Photos
      p Come back soon to see pictures of us through the years! Awkward high school photos bare all!
    section#faq
      h2.full-width.bkgd-red Q&amp;A
      dl.faq
        dt.heading Are you registered anywhere?
        dd Gifts are certainly not necessary &mdash; just your presence as we celebrate is enough for us! Though there’s no need for gifts, we can appreciate that gifting is a primary love language for many of the people we care about. We’ve come up with some options for those folks:
          ul
            li contribute to the <a href="https://www.centreforeffectivealtruism.org/donate/">Center for Effective Altruism</a> in our honor
            li our <a href="https://www.blueprintregistry.com/registry/sarah-and-michail">travel fund/registry</a>
        dd If you’re going to simply trust your instincts on this one, we ask that you consider our upcoming travel adventures, as we’ll be putting most of our existing possessions in storage.
        dt.heading Can I bring a date?
        dd Your invite will specify whether there's a plus one for you! If you're unsure, please let us know!
        dt.heading Are kids welcome?
        dd Absolutely! If your invite was addressed to "The Whoever Family," then your kids are 100% welcome to join us.
        dt.heading Where should I park?
        dd For the ceremony, there will be parking inside the park.
        dd For the reception, there's a parking structure diagonally across from The Box which will be the most convenient place to park. We got a deal on a reduced cost for the structure, so let the attendant know you're here for an event at The Box!
        dt.heading What should I wear?
        dd Clothes! Casual, dressy casual, semi-formal &mdash; it's all the same to us! Maybe don't wear a tuxedo, or you might be uncomfortable. We also ask that you leave your white suits and dresses at home for this one.
        dt.heading Whom should I call with questions?
        dd Contact Sarah (262-227-7987) or Michail (414-574-1755) with any questions that might come up.
        dt.heading I am coming from out of town. Where should I stay?
        dd Wherever you want! We’re not reserving any rooms any place, but we’re happy to help you find someplace to stay! We’ve got family and friends in the area that are happy to host our guests, otherwise we’d recommend AirBnB or one of the hotels in the Milwaukee area.
