extends templates/master

block body
  main#main.rsvp-page
    h1 Thank you for RSVP'ing!

    form(id='rsvp' name='rsvp' method='POST')
      fieldset.step.step--1
        label
          span.bigger This RSVP is for:*
          input#family_name(list='guests' autocomplete='off' placeholder='Our lovely guest' required name='family_name')
        datalist(id='guests')
          option(data-count='4') Yasonik Family
          option(data-count='2') Fuchs Family
          option(data-count='4') Gorelik Family
          option(data-count='2') Michael Gorelik
      fieldset.step.step--2
        legend.bigger Will you be attending?*
        div
          label
            input#attending(type='radio' name='is_attending' value='Yes' required)
            span Yes
          label
            input#nope(type='radio' name='is_attending' value='No' required)
            span No
      fieldset.step.step--3.hidden
        legend.bigger Please enter the preferred names of all those attending:
        div.rsvp__count
      fieldset.step.hidden
        div
          label
            span Any dietary restrictions?
            textarea(rows=3 name='dietary_restrictions')
        div
          label
            span What song will get you on the dance floor?
            textarea(rows=3 name='song_selections')
        div
          label
            span Any advice for us?
            textarea(rows=3 name='advice')
        div
          label
            span Any other messages you’d like to pass along?
            textarea(rows=3 name='additional_comments')
      button(type='button' id='rsvp-submit')
        | Send
        span →

  div#rsvp-dialog
    div(tabindex='-1' data-a11y-dialog-hide)
    dialog(aria-labelledby='dialog-title')
      button(type='button' aria-label='Close this dialog window' data-a11y-dialog-hide) &times;
      h1#dialog-title You've RSVP'd! Thanks!
      a.back(href='/index.html') Take me back to the good stuff!
