extends templates/master

block body
  main.rsvp-page
    h1 Thank you for RSVP'ing!

    form(id='rsvp' name='rsvp' method='POST' netlify)
      fieldset.step.step--1
        label
          span.bigger This RSVP is for:
          input#who(list='guests' autocomplete='off' placeholder='Our lovely guest' required)
        datalist(id='guests')
          option(data-count='4') Yasonik Family
          option(data-count='2') Fuchs Family
          option(data-count='4') Gorelik Family
          option(data-count='2') Michael Gorelik
      fieldset.step.step--2
        legend.bigger Will you be attending?
        div
          label
            input#attending(type='radio' name='attending' required)
            span Yes
          label
            input#nope(type='radio' name='attending' required)
            span No
      fieldset.step.step--3.hidden
        legend.bigger Please enter the names of all those attending:
        div.rsvp__count
      fieldset.step.hidden
        div
          label
            span Any dietary restrictions?
            textarea(rows=3)
        div
          label
            span What song will get you on the dance floor?
            textarea(rows=3)
        div
          label
            span Any advice for us?
            textarea(rows=3)
        div
          label
            span Any other messages you’d like to pass along?
            textarea(rows=3)
      button(type='submit')
        | Send
        span →