.itinerary {
  &,
  & * {
    margin-top: 0;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    h3 {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: .1em;
        left: 0;
        right: 0;
        height: 2px;
        background-color: palette(blue);
      }
    }
  }

  &__map {
    margin: .67em 0 .33em;

    summary {
      margin-bottom: .33em;
    }
  }
}